* {
	padding: 0;
	margin: 0;
}
.center {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: #e3e3e3;
	width: 90%;
	height: 100vh;
}

main {
	display: flex;
	color: white;
	gap: 4px;
}
#password-section {
	width: 500px;
	height: 500px;
	background-color: #141414;
	border-radius: 5px 0px 0px 5px;
	flex-direction: column;
	row-gap: 8px;
}

#matching-section {
	width: 500px;
	height: 500px;
	background-color: #141414;
	border-radius: 0px 5px 5px 0px;
	flex-direction: column;
}
#btn-generate-key {
	width: 180px;
	height: 50px;
	background-color: #006ce0;
	border-radius: 5px;
	border: 0px;
	color: white;
	font-size: medium;
	font-weight: 800;
}

.secret-number {
	width: 180px;
	height: 50px;
	background-color: #474747;
	border-radius: 5px;
	border: 2px solid white;
	font-size: xx-large;
	text-align: center;
	line-height: 50px;
}

.pin-container {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	gap: 30px;
}
.pin-input {
	background-color: #474747;
	border-radius: 5px;
	border: 2px solid white;
	font-size: xx-large;
	text-align: center;
	width: 200px;
	height: 60px;
	line-height: 60px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.grid-item {
	background-color: #474747;
	padding: 15px;
	border-radius: 5px;
	width: 50px;
	height: 20px;
	text-align: center;
	font-size: larger;
}
.grid-item-btn {
	background-color: #474747;
	padding: 15px;
	border-radius: 5px;
	width: 50px;
	height: 20px;
	text-align: center;
	font-size: larger;
}
#btn-delete-lsb {
	background-color: #e18c14;
}
#btn-submit {
	background-color: #449c44;
}
#btm-clear {
	background-color: #d33b36;
}
.icon {
	height: 17px;
	width: 17px;
	vertical-align: middle;
}
#info {
	margin-top: 20px;
}

/* for medium size device */
@media screen and (min-width: 601px) and (max-width: 900px) {
	body {
		width: 100%;
		height: 100%;
	}
	main {
		flex-direction: column;
	}
	#password-section {
		width: 400px;
		height: 200px;
		border-radius: 5px;
	}
	#matching-section {
		width: 400px;
		border-radius: 5px;
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 8px;
	}
	.pin-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.pin-input {
		width: 180px;
		height: 50px;
		line-height: 50px;
	}
}

/* for small device */
@media screen and (max-width: 600px) {
	body {
		width: 100%;
		height: 100%;
	}
	main {
		flex-direction: column;
	}
	#password-section {
		width: 300px;
		height: 150px;
		border-radius: 5px;
	}
	#matching-section {
		width: 300px;
		height: 100%;
		border-radius: 5px;
	}
	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}
	.pin-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.pin-input {
		width: 150px;
		height: 50px;
		line-height: 50px;
	}
}
